body{
    background-color:azure;
        
}
h1{
    color: blue;
    font-size: 30px;
    font-family:verdana;
        
}
form{
    color : red  ; 
    font-size: 18px;
    font-family:verdana;
}
p {
    color : red  ; 
    font-size: 18px;
    font-family:verdana;
}